<configuration>
  <connectionStrings>
    <add name="MetaDb"
         connectionString="Server=DESKTOP-TTK7GRG\SQLEXPRESS;Database=GrindwellNorton1;User ID=sa;TrustServerCertificate=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<!--<connectionStrings>
	<add name="AppDb"
		 connectionString="Data Source=SERVER;Initial Catalog=DB;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />
</connectionStrings>-->
